
<body lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:web="http://schemas.live.com/Web/">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--    <script id="ipV6TestScript2" type="text/javascript" async="" src="./check2/test"></script>-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!--    <script type="text/javascript">-->
    <!--        si_ST = new Date;-->
    <!--    </script>-->

    <!--第一段-->
    <title>My experiment</title>
    <!--    <script src="./js/webgazer.js" type="text/javascript" />-->
    <script src="../static/js/searchgazer.js" type="text/javascript"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        /*布局线的格式*/
        .content{
            background-color:gainsboro;
            font-size: 50px;
        }
        .div_line{
            float:left;
            margin-top:100px;
            height:50px;
            width:100px;
            margin-left:10px;
        }
    </style>

    <script>
        window.onload = function() {
            //眼动
            webgazer.setRegression('ridge') /* 返回眼睛注视的位置 */
                .setTracker('clmtrackr')
                .setGazeListener(function(data, clock) {
                    if(data!=null){

                        // console.log(findDomElementBing(data.x,data.y));
                        console.log(data.x+","+data.y); /* data is an object containing an x and y key which are the x and y prediction coordinates (no bounds limiting) */
                        console.log(clock); /* elapsed time in milliseconds since webgazer.begin() was called */
                        wordid = getWordid(data.x,data.y);
                        console.log(wordid);
                        console.log(sentID);
                        sid = sentID;
                        eyetime =gettime();
                        console.log(eyetime);
                        saveEyeData(data.x,data.y,wordid,sid,eyetime);
                        // saveEyeData(data.x,data.y,wordid,sid);
                    }
                })
                .begin()
                .showPredictionPoints(true);/* shows a square every 100 milliseconds where current prediction is */


            var width = 500;
            var height = 500;
            var topDist = '0px';
            var leftDist = '0px';

            var setup = function() {
                var video = document.getElementById('webgazerVideoFeed');
                video.style.display = 'hidden';
                video.style.position = 'absolute';
                video.style.top = topDist;
                video.style.left = leftDist;
                video.width = width;
                video.height = height;
                video.style.margin = '0px';

                // 反馈点的大小
                webgazer.params.imgWidth = width;
                webgazer.params.imgHeight = height;
            };

            function checkIfReady() {
                if (webgazer.isReady()) {
                    setup();
                } else {
                    setTimeout(checkIfReady, 100);
                }
            }
            setTimeout(checkIfReady,100);

            window.onbeforeunload = function() {
                webgazer.end();
            };


        };
    </script>


</head>


<div class="container">
    <div class="row clearfix">
        <div class="col-lg-12 column" style = "background-color:gainsboro;margin-top:15px;border-radius:10px;">
            <h3 class="text-left">
                Reading Eye Movement Data Collection Platform
            </h3>
            <h4 class="text-center">
                Artical{{re_datas.a_id}}：{{re_datas.title}}
            </h4>
        </div>
    </div>

    <div class = "row clearfix">
        <HR color = "red" size = "5" >
    </div>

<!--    <div class="row clearfix" >-->
<!--        <div id="addDiv" style = "width:1170px;height:400px;">-->
<!--            {% for item in re_datas.sentence[re_datas.curr_s-1] %}-->
<!--            <div class = "div_line" style = "width:auto;display: inline-block;"  >-->
<!--                <p class = "content" id="test">{{item}}</p></div>-->
<!--            {% endfor %}-->
<!--        </div>-->
<!--    </div>-->

    <div class="row clearfix">
        <div id="addDiv" style = "width:1170px;height:400px;">
<!--            句子内容-->
        </div>
    </div>

    <div class = "row clearfix">
        <HR class="HR_line">
    </div>

    <div class="row clearfix " style = "text-align:center;">
        <div id="sentNum" class="col-6">
<!--            <p>第{{re_datas.curr_s}}句 / 共{{re_datas.all_s}}句</p>-->
        </div>
        <div class="col-6">
            <!--显示上一页-->
            <a class="btn btn-primary text-white" onclick="previousPage()">last page</a>
            <a class="btn btn-primary text-white" onclick="nextPage()">next page</a>

        </div>

    </div>
</div>
<script>
    //getWord函数获取坐标所对应的字的number
    //saveEyeData把数据提交到url中
    //获取后台传入的数据库信息：总句子长度len，句子sentence，句子编号sentenceid
    var len = "{{re_datas.all_s}}";
    var sentence = "{{re_datas.sentence}}";
    sentence = sentence.substring(0,sentence.length-1);
    var sentenceID = "{{re_datas.sentence_id}}";
    sentenceID = sentenceID.substring(0,sentenceID.length-1);
    console.log(len);
    console.log(sentence);
    console.log(sentenceID);
    sentence = sentence.split(",")
    sentenceID = sentenceID.split(",")
    //初始化下标
    index = 1;
    sentID = 0;


    //加载页面的时候获取首个句子生成div
    $(document).ready( function(){

        getData();
    } );

    //从后台数据中以此获取句子信息和下标信息并更新
    function getData(){
        //获取当前index对应的句子
        var sent = sentence[index-1];
        sent = sent.substring(6,sent.length-5);
        console.log(sent);
        //将句子分割，依次绘制div
        var addDiv = document.getElementById('addDiv');
        var html = '';
        for(var i = 0;i<sent.length;i++){
            html += setDiv(sent[i]);
        }
        addDiv.innerHTML = html

        //生成第几句
        var sentNum = document.getElementById('sentNum');
        var html1 = '<p>sentence '+index+' of '+len+' </p>';
        sentNum.innerHTML = html1;

        //计算sid(sentID)
        sentID = sentenceID[index-1];
        sentID = sentID.substring(6,sentID.length-5);
        console.log(sentID);

    }



    //
    //为每个字建立div
    function setDiv(item){
        var div =
            '<div class = "div_line" style = "width:auto;display: inline-block;"  >' +
            '<p class = "content"> ' +item + '</p>\n' +
            '</div>';
        return div;

    }
    //切换上一页
    function previousPage(){
        index--;
        getData();
    }
    //切换下一页(如果是末页，跳转到问答页面
    function nextPage(){
        if(index == parseInt(len)){
            window.location.href="{{url_for('answer_page')}}?position='last'";
        }
        else{
            index++;
            getData();
        }

    }
    //根据坐标判断对应的字的位置
    function getWordid(x,y){
        //如果在第一行
        if(y <= 322 && y >= 212){
            for (var i = 1; i <= 19; i++) {
                if (x >= (52 + (i-1) * 60) && x < (52+i*60)) {
                    wordindex = i;
                    break;
                }
                else{
                    wordindex = 0;
                }
            }
        }
        else if(y<=472 && y>=362){
            for (var i = 1; i <= 19; i++) {
                if (x >= (52 + (i-1) * 60) && x < (52+i*60)) {
                    wordindex = i+19;
                    break;
                }
                else{
                    wordindex = 0;
                }
            }
        }
        //其他情况都为超出范围
        else{
            wordindex=0;
        }
        return wordindex;
    }

    function gettime(){
        // 获取当前时间戳（单位：微秒）
        var now = new Date().getTime() * 1000 + Math.floor(performance.now() * 1000);

        // 转换为 Date 对象
        var date = new Date(now / 1000);

        // 格式化为 MySQL datetime 格式
        var eyetime = date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).slice(-2) + '-' + ('0' + date.getDate()).slice(-2) + ' ' + ('0' + date.getHours()).slice(-2) + ':' + ('0' + date.getMinutes()).slice(-2) + ':' + ('0' + date.getSeconds()).slice(-2) + '.' + ('00000' + (now % 1000000)).slice(-6);

        console.log(eyetime);
        return eyetime

    }

    //将数据传到后端
    function saveEyeData(x,y,wordid,sid,eyetime){
        $.ajax({
            "type": "POST",
            "async": true,
            "url": "{{url_for('save_eyedata')}}",
            "dataType": "json",
            "data": {
                "a_id": "{{re_datas.a_id}}",
                "s_id": JSON.stringify(sid),
                "u_id": "{{re_datas.u_id}}",
                "wordid": JSON.stringify(wordid),
                "x":  JSON.stringify(x),
                "y":  JSON.stringify(y),
                "time":JSON.stringify(eyetime)

            },
            success: function (result) {
                console.log("save successful");
            }
        });

    }


    </script>
</body>
</html>